!.gitignore

node_modules/
.env
.env.*
.DS_Store

# OS / system junk
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore everything by default
*

# Allow only project folders
!ecobridge-frontend/
!ecobridge-backend/
!ecobridge-frontend/**
!ecobridge-backend/**
