# Allow gitignore itself
!.gitignore

# Ignore node stuff
node_modules/
.env
.env.*

# Ignore OS junk
Thumbs.db
desktop.ini

# Ignore editors
.vscode/
.idea/

# Ignore logs
npm-debug.log*
yarn-error.log*

# IGNORE EVERYTHING ELSE
*

# ALLOW PROJECT
!ecobridge-frontend/
!ecobridge-backend/
!ecobridge-frontend/**
!ecobridge-backend/**
